:where([data-theme="surface"]) {
  --font-body: helvetica, sans-serif;
  --font-heading: helvetica, sans-serif;
  --blockquote-border-color: var(--brand-primary);
  --blockquote-color: var(--brand-primary);
}
