{# Stepper - Step progress indicator #}
<ol class="ps-stepper ps-stepper--{{ orientation }}" aria-label="Progress">
  {% for step in steps %}
    <li class="ps-stepper__item {% if step.active %}ps-stepper__item--active{% endif %} {% if step.completed %}ps-stepper__item--completed{% endif %}">
      <div class="ps-stepper__step-marker">
        {% if step.completed %}
          {% include '@elements/icon/icon.twig' with {
            name: 'check',
            attributes: create_attribute().addClass('ps-stepper__icon')
          } only %}
        {% else %}
          <span class="ps-stepper__number">{{ loop.index }}</span>
        {% endif %}
      </div>
      <span class="ps-stepper__label">{{ step.label }}</span>
    </li>
  {% endfor %}
</ol>
