{#
/**
 * @file
 * Provider-aware oEmbed iframe wrapper for remote video media.
 */
#}
<!DOCTYPE html>
<html>
  <head>
    <css-placeholder token="{{ placeholder_token }}">
  </head>
  <body style="margin: 0">
    {{ media|raw }}
  </body>
</html>
