{#
/**
 * @file
 * Footer Menu Links Block
 *
 * Extends the Block layout structure for footer context.
 * Includes menu component with collapsible behavior on mobile.
 *
 * Available variables:
 * - label: Section title/label (string)
 * - items: Array of menu links [{ title, url }, ...] (array)
 * - attributes: Drupal Attribute object for the block wrapper (Attribute)
 */
#}

{% extends '@layouts/block/block.twig' %}

{%- set plugin_id = plugin_id|default('block_footer_menu_links') -%}
{%- set configuration = configuration|default({ provider: 'menu' }) -%}

{%- set label = label|default('Menu') -%}
{%- set title_attributes = title_attributes|default(create_attribute().addClass('ps-heading')) -%}
{%- set items = items|default([]) -%}

{%- set attr = (attributes is defined ? attributes : create_attribute()).addClass('ps-footer-menu-links') -%}

{%- block content -%}
  {# Menu items panel #}
  <div
    class="ps-footer-menu-links__panel"
    id="footer-menu-links-items"
    role="region"
  >
    {% include '@collections/menu/menu.twig' with {
      items: items
    } only %}
  </div>
{%- endblock -%}
