{#
 * Form (Molecule)
 * Drupal form wrapper
 *
 * @param object attributes - Drupal attributes for <form>
 * @param slot children - Form content (fields, actions, etc.)
 #}
<form{{ attributes }}>
  {{ children }}
</form>