{#
 * Form (Molecule)
 * Drupal form wrapper for composing form fields and actions
 *
 * @param object attributes - Drupal attributes for <form> element (method, action, id, etc.)
 * @param string children - Form content (form fields, buttons, etc.)
 #}

{%- set attributes = attributes is defined ? attributes : create_attribute() -%}

<form{{ attributes }}>
  {%- if children -%}
    {{ children }}
  {%- endif -%}
</form>