{# Tooltip - Hover-triggered label #}
<div class="ps-tooltip">
  <button type="button" class="ps-tooltip__trigger" aria-describedby="tooltip-content">
    {{ trigger_text }}
    {% include '@elements/icon/icon.twig' with {
      name: 'info',
      attributes: create_attribute().addClass('ps-tooltip__icon')
    } only %}
  </button>
  <div class="ps-tooltip__content ps-tooltip__content--{{ position }}" id="tooltip-content" role="tooltip">
    {{ text }}
  </div>
</div>
