{#
/**
 * @file
 * Sizes documentation
 */
#}

{% set spacing_content %}
  <div class="demo-sizes">
    <article class="size-demo">
      <div><h4>Size</h4></div>
      <div><h4>REM</h4></div>
      <div><h4>PX</h4></div>
      <div><h4>Example</h4></div>

      {% for item in spacing %}
        <div>{{ item.size }}</div>
        <div>{{ item.rem }}</div>
        <div>{{ item.px }}</div>
        <div>
          <div style="block-size: 1rem; inline-size:{{ item.rem }}; background-color: var(--gray-300);"></div>
        </div>
      {% endfor %}
    </article>
  </div>
{% endset %}

{% include '../_base-story.twig' with {
  header: header,
  sections: [
    {
      title: 'Spacing Scale',
      description: 'Complete spacing scale from 1px to 24rem (384px). Use these tokens for consistent spacing throughout the design system.',
      content: spacing_content
    }
  ]
} only %}
