<button type="button" class="ps-favorites-toggle__button" data-ps-favorite-toggle="1" data-ps-favorite-nid="{{ nid }}" aria-pressed="false" aria-label="{{ 'Add to favorites'|t }}">
	<span aria-hidden="true">&#9825;</span>
</button>
