{#
 * PS Label (Atom) - Form field label with required indicator
 *
 * @param string text - Label text content (required)
 * @param string forId - ID of the associated form field for label-input binding
 * @param boolean required - Adds visual asterisk and accessible required text (default: false)
 * @param boolean disabled - Disabled state with reduced opacity (default: false)
 * @param Attribute attributes - Additional HTML attributes
 #}

{%- set classes = ['ps-label'] -%}
{%- if required -%}
  {%- set classes = classes|merge(['ps-label--required']) -%}
{%- endif -%}
{%- if disabled -%}
  {%- set classes = classes|merge(['ps-label--disabled']) -%}
{%- endif -%}

<label{% if attributes %} {{ attributes.addClass(classes) }}{% else %} class="{{ classes|join(' ') }}"{% endif %}{% if forId %} for="{{ forId }}"{% endif %}>
  <span class="ps-label__text">{{ text }}</span>
  {% if required %}
    <span class="ps-label__required" aria-hidden="true">*</span>
    <span class="visually-hidden">(required field)</span>
  {% endif %}
</label>