@layer components {
  .ps-video {
    position: relative;
    width: 100%;
    height: auto;
  }

  .ps-video--16-9 {
    aspect-ratio: 16 / 9;
  }

  .ps-video--4-3 {
    aspect-ratio: 4 / 3;
  }

  .ps-video--1-1 {
    aspect-ratio: 1 / 1;
  }

  .ps-video__player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: var(--radius-md);
  }
}
