{#
/**
 * @file
 * Location compare cell with optional static mini-map.
 */
#}
<div class="ps-compare-location-cell">
  {% if label %}
    <p class="ps-compare-location-cell__label mb-2">{{ label }}</p>
  {% endif %}
  {% if map %}
    <div class="ps-compare-location-cell__map-wrap">
      {{ map }}
    </div>
  {% endif %}
</div>
