{# Pagination - Page navigation #}
<nav class="ps-pagination" aria-label="Pagination"{{ attributes |without('class') }}>
  <ul class="ps-pagination__list">
    {% if has_previous %}
      <li class="ps-pagination__item">
        <a href="#" class="ps-pagination__link ps-pagination__link--prev" aria-label="Previous page" data-icon="arrow-left" data-icon-position="start">
          <span class="visually-hidden">Previous</span>
        </a>
      </li>
    {% else %}
      <li class="ps-pagination__item">
        <span class="ps-pagination__link ps-pagination__link--disabled" aria-disabled="true" data-icon="arrow-left" data-icon-position="start">
          <span class="visually-hidden">Previous page unavailable</span>
        </span>
      </li>
    {% endif %}

    {% for page in range(1, total_pages + 1) %}
      <li class="ps-pagination__item">
        {% if page == current_page %}
          <span class="ps-pagination__link ps-pagination__link--active" aria-current="page">{{ page }}</span>
        {% else %}
          <a href="#" class="ps-pagination__link">{{ page }}</a>
        {% endif %}
      </li>
    {% endfor %}

    {% if has_next %}
      <li class="ps-pagination__item">
        <a href="#" class="ps-pagination__link ps-pagination__link--next" aria-label="Next page" data-icon="arrow-right" data-icon-position="start">
          <span class="visually-hidden">Next</span>
        </a>
      </li>
    {% else %}
      <li class="ps-pagination__item">
        <span class="ps-pagination__link ps-pagination__link--disabled" aria-disabled="true" data-icon="arrow-right" data-icon-position="start">
          <span class="visually-hidden">Next page unavailable</span>
        </span>
      </li>
    {% endif %}
  </ul>
</nav>
