{#
  @file
  Contact Form (Collection/Organism)
  
  Multi-section contact form with personal data, project message, consents, and legal text.
  
  Available variables:
  - title: Form main title
  - section_1_title: Section 1 heading (personal data)
  - section_2_title: Section 2 heading (project details)
  - fields: Array of form field objects (first_name, last_name, email, company, phone)
  - message_field: Textarea field object
  - consents: Array of checkbox consent objects
  - legal_text: Legal/RGPD notice text (HTML)
  - submit_button: Submit button object
  - attributes: Drupal Attribute object
#}

{%- set title = title|default('Contact') -%}
{%- set section_1_title = section_1_title|default('What are your co-data?') -%}
{%- set section_2_title = section_2_title|default('Would you like to know more about your project?') -%}
{%- set fields = fields|default({}) -%}
{%- set message_field = message_field|default({}) -%}
{%- set consents = consents|default([]) -%}
{%- set legal_text = legal_text|default('') -%}
{%- set submit_button = submit_button|default({ label: 'Send', variant: 'primary' }) -%}

{%- set classes = ['ps-contact-form'] -%}
{%- set attr = (attributes is defined ? attributes : create_attribute()).addClass(classes) -%}

<div{{- attr -}}>
  {%- if title -%}
    <div class="ps-contact-form__header">
      {%- include '@elements/heading/heading.twig' with {
        text: title,
        level: 'h2',
        attributes: create_attribute().addClass('ps-contact-form__title')
      } only -%}
    </div>
  {%- endif -%}

  <form class="ps-contact-form__form" method="post" action="{{ action|default('#') }}">
    
    {# Section 1: Personal data #}
    <div class="ps-contact-form__section">
      {%- if section_1_title -%}
        {%- include '@elements/heading/heading.twig' with {
          text: section_1_title,
          level: 'h3',
          attributes: create_attribute().addClass('ps-contact-form__section-title')
        } only -%}
      {%- endif -%}

      <div class="ps-contact-form__grid">
        {# First name / Last name (2 cols) #}
        {%- if fields.first_name -%}
          <div class="ps-contact-form__field">
            {%- include '@components/form-field/form-field.twig' with fields.first_name only -%}
          </div>
        {%- endif -%}
        {%- if fields.last_name -%}
          <div class="ps-contact-form__field">
            {%- include '@components/form-field/form-field.twig' with fields.last_name only -%}
          </div>
        {%- endif -%}

        {# Email (full width) #}
        {%- if fields.email -%}
          <div class="ps-contact-form__field ps-contact-form__field--full">
            {%- include '@components/form-field/form-field.twig' with fields.email only -%}
          </div>
        {%- endif -%}

        {# Company / Phone (2 cols) #}
        {%- if fields.company -%}
          <div class="ps-contact-form__field">
            {%- include '@components/form-field/form-field.twig' with fields.company only -%}
          </div>
        {%- endif -%}
        {%- if fields.phone -%}
          <div class="ps-contact-form__field">
            {%- include '@components/form-field/form-field.twig' with fields.phone only -%}
          </div>
        {%- endif -%}
      </div>
    </div>

    {# Section 2: Project details #}
    <div class="ps-contact-form__section">
      {%- if section_2_title -%}
        {%- include '@elements/heading/heading.twig' with {
          text: section_2_title,
          level: 'h3',
          attributes: create_attribute().addClass('ps-contact-form__section-title')
        } only -%}
      {%- endif -%}

      {# Message textarea #}
      {%- if message_field -%}
        <div class="ps-contact-form__field ps-contact-form__field--full">
          {%- include '@components/form-field/form-field.twig' with message_field only -%}
        </div>
      {%- endif -%}
    </div>

    {# Consents checkboxes #}
    {%- if consents -%}
      <div class="ps-contact-form__consents">
        {%- for consent in consents -%}
          <div class="ps-contact-form__consent">
            {%- include '@elements/checkbox/checkbox.twig' with consent only -%}
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}

    {# Legal text #}
    {%- if legal_text -%}
      <div class="ps-contact-form__legal">
        {{- legal_text|raw -}}
      </div>
    {%- endif -%}

    {# Submit button #}
    <div class="ps-contact-form__actions">
      {%- include '@elements/button/button.twig' with submit_button only -%}
    </div>
  </form>
</div>
