{#
 * Select (Atom)
 * Native <select> without label, Drupal-friendly attributes.
 *
 * @param array options - List of options: [{ value, label, disabled=false, selected=false }]
 * @param string name - Name attribute (optional)
 * @param string id - ID attribute (defaults to name-based)
 * @param boolean disabled - Disabled state (default: false)
 * @param boolean required - Required state (default: false)
 * @param object attributes - Drupal attributes for the <select>
 * @param object wrapper_attributes - Drupal attributes for the wrapper
 #}

{%- set options = options|default([]) -%}
{%- set name = name|default('') -%}
{%- set id = id|default(name ? name ~ '-select' : 'ps-select') -%}
{%- set disabled = disabled|default(false) -%}
{%- set required = required|default(false) -%}
{%- set color = color|default('default') -%}
{%- set size = size|default('md') -%}
{%- set attributes = attributes|default(create_attribute()) -%}
{%- set wrapper_attributes = wrapper_attributes|default(create_attribute()) -%}

{%- set classes = [
  'ps-select',
  disabled ? 'ps-select--disabled' : null,
  color != 'default' ? 'ps-select--' ~ color : null,
  size != 'md' ? 'ps-select--' ~ size : null
] -%}

<select
  {{ attributes
    .addClass(classes)
    .setAttribute('id', id)
    .setAttribute('name', name)
  }}
  {%- if disabled %} disabled aria-disabled="true"{% endif -%}
  {%- if required %} required aria-required="true"{% endif -%}
>
  {%- for option in options -%}
    <option
      value="{{ option.value|default('') }}"
      {%- if option.disabled|default(false) %} disabled{% endif -%}
      {%- if option.selected|default(false) %} selected{% endif -%}
    >{{ option.label|default('') }}</option>
  {%- endfor -%}
</select>
