{#
 * Checkboxes (Molecule)
 * Drupal checkboxes group wrapper
 *
 * @param object attributes - Drupal attributes for wrapper <div>
 * @param slot children - Rendered checkbox items
 #}
{%-
  set classes = [
    'ps-checkboxes',
    'form-checkboxes'
  ]
-%}
{%- set attr = (attributes ? attributes : create_attribute()).addClass(classes) -%}

<div{{ attr }}>
  {{ children }}
</div>