{#
 * Checkboxes (Molecule)
 * Drupal checkboxes group wrapper
 *
 * @param object attributes - Drupal attributes for wrapper <div>
 * @param slot children - Rendered checkbox items
 #}
{%- set attr = (attributes ? attributes : create_attribute()).addClass('form-checkboxes') -%}

<div{{ attr }}>
  {{ children }}
</div>