{#
 * Checkboxes (Molecule)
 * Drupal checkboxes group wrapper
 *
 * @param object attributes - Drupal attributes for wrapper <div>
 * @param slot children - Rendered checkbox items
 #}
<div{{ attributes.addClass('form-checkboxes') }}>
  {{ children }}
</div>