{#
 * Tags collection (organism) - Collection of Tag atoms
 * @param {array} tags - Array of tag objects (required): [{label:string, variant:string, size:string, selected:boolean, removable:boolean, iconStart:boolean, url:string}]
 * @param {object} [attributes] - Additional HTML attributes for Drupal integration
 *
 * NOTE: Per maquette, tags only use 2 variants (filled blue, outline white)
 * Color parameter removed from Tag atom API
 #}

{%- set tags = tags|default([]) -%}
{%- set classes = ['ps-tags'] -%}
{%- set attr = (attributes ? attributes : create_attribute()).addClass(classes) -%}
{%- set attr = attr.setAttribute('role', 'group').setAttribute('aria-label', 'Tags') -%}

<div{{ attr }}>
  {%- for tag in tags %}
    {% include '@elements/tag/tag.twig' with {
      label: tag.label,
      variant: tag.variant|default(null),
      size: tag.size|default(null),
      selected: tag.selected|default(null),
      removable: tag.removable|default(null),
      iconStart: tag.iconStart|default(null),
      url: tag.url|default(null),
      attributes: tag.attributes|default(null)
    } only %}
  {%- endfor %}
</div>
