{% extends "block--bare.html.twig" %}

{% block content %}
	{{ title_prefix }}
	<div class="ps-header__action-block ps-header__action-block--favorites">
		{{ content }}
	</div>
	{{ title_suffix }}
{% endblock %}
