<li class="ps-certification-label">
  <div class="ps-certification-label__heading">
    <span class="ps-certification-label__check" aria-hidden="true"></span>
    <span class="ps-certification-label__text">{{ label }}</span>
  </div>
  {% if badge %}
    <div class="ps-certification-label__badge">
      {{ badge }}
    </div>
  {% endif %}
</li>
