{#
/**
 * @file
 * Compact certification label card for entity browser picker.
 */
#}
<div{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="ps-cert-label-card__body">
    {{ content }}
  </div>
</div>
