{#
 * Radios (Molecule)
 * Drupal radios group wrapper
 *
 * @param object attributes - Drupal attributes for wrapper <div>
 * @param string modifier_class - Optional modifier classes (--inline, --compact, --grid-2, etc.)
 * @param slot children - Rendered radio items
 #}
{%- set classes = ['form-radios'] -%}
{%- if modifier_class -%}
  {%- set classes = classes|merge([modifier_class]) -%}
{%- endif -%}
{%- set attr = (attributes is defined ? attributes : create_attribute()).addClass(classes) -%}

<div{{ attr }}>
  {{ children }}
</div>