{#
 * Radios (Molecule)
 * Drupal radios group wrapper
 *
 * @param object attributes - Drupal attributes for wrapper <div>
 * @param slot children - Rendered radio items
 #}
{%- set attr = (attributes ? attributes : create_attribute()).addClass('form-radios') -%}

<div{{ attr }}>
  {{ children }}
</div>