{#
/**
 * Hero - Collection/Organism
 *
 * Composes Carousel component with overlay favorite icon-only toggle button.
 * Used for property showcase with media gallery and quick-access favorite toggle.
 *
 * @param {object} media - Carousel configuration (variant, fit, slides, toolbar)
 * @param {object} favorite - Favorite button configuration (icon, active, ariaLabel)
 * @param {object} attributes - Drupal attributes object for root element
 */
#}

{%- set media = media|default({}) -%}
{%- set favorite = favorite|default({}) -%}

{{ attach_library('ps_theme/carousel') }}

{%- set hero_classes = [
  'ps-hero'
] -%}

{%- set attr = (attributes is defined ? attributes : create_attribute()).addClass(hero_classes) -%}

<div{{ attr }}>
  {# Carousel component #}
  {% include '@components/carousel/carousel.twig' with media|merge({
    attributes: create_attribute().addClass('ps-hero__carousel')
  }) only %}

  {# Favorite button overlay (icon-only toggle button) #}
  {% if favorite %}
    {% include '@elements/button/button.twig' with {
      icon: favorite.icon|default('heart'),
      variant: 'secondary',
      toggle: true,
      active: favorite.active|default(false),
      ariaLabel: favorite.ariaLabel|default('Add to favorites'),
      class: 'ps-hero__favorite',
      attributes: create_attribute()
    } only %}
  {% endif %}
</div>
