{#
/**
 * @file
 * PS List (Atom) - HTML list element (ul/ol)
 *
 * Basic styled list component for content.
 * ul = bulleted by default, ol = numbered by default.
 *
 * @param {array} items - Array of list items (strings or HTML)
 * @param {string} [variant] - Optional modifier: 'unstyled' to remove markers
 * @param {string} [type='ul'] - HTML element type: ul|ol
 * @param {object} [attributes] - Drupal attribute bag (required for integration)
 */
#}

{%- set items = items|default([]) -%}
{%- set type = type|default('ul') -%}

{%- set classes = [
  'ps-list',
  variant ? 'ps-list--' ~ variant : null
] -%}

{%- set attr = (attributes ? attributes : create_attribute()).addClass(classes) -%}

{% if type == 'ol' -%}
<ol{{ attr }}>
  {%- for item in items %}
  <li class="ps-list__item">{{ item|raw }}</li>
  {%- endfor %}
</ol>
{%- else -%}
<ul{{ attr }}>
  {%- for item in items %}
  <li class="ps-list__item">{{ item|raw }}</li>
  {%- endfor %}
</ul>
{%- endif %}
