{%
  set classes = [
    'ps-agent',
    'ps-agent--' ~ elements['#view_mode']|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ content }}
  {{ title_suffix }}
</div>
