<div class="ps-form-modal-panel ps-form-modal-panel--{{ webform_id|clean_class }}"
     id="{{ panel_id }}"
     data-ps-contact-panel="{{ panel_id }}">
  <div class="ps-contact-modal__content">
    {{ webform }}
  </div>
</div>
