<div class="ps-offer-webform-modal-panel ps-offer-webform-modal-panel--{{ webform_id|clean_class }}"
     id="{{ panel_id }}"
     data-ps-contact-panel="{{ panel_id }}">
  <div class="ps-offer-contact-modal__content">
    {{ webform }}
  </div>
</div>
