{#
 * Skip Link (Element/Atom)
 * WCAG accessibility link for keyboard navigation (appears on focus)
 *
 * @param {string} [targetId='main-content'] - ID of target anchor element (main-content, navigation, search)
 * @param {string} [label='Skip to main content'] - Link text displayed on keyboard focus
 * @param {Drupal\Core\Template\Attribute} [attributes] - Additional HTML attributes
 #}

{%- set targetId = targetId|default('main-content') -%}
{%- set label = label|default('Skip to main content') -%}
{%- set href = '#' ~ targetId -%}
{%- set attributes = attributes|default(create_attribute()) -%}
{%- set class = class|default(null) -%}

{%- set classes = [
  'ps-skip-link',
  class ? class : null
] -%}

<a class="{{ classes|join(' ')|trim }}" href="{{ href }}"
  {{- attributes ? ' ' ~ attributes|without('class') : '' -}}>{{- label -}}</a>