{#
 * Definition List - Key-value pairs list (dl/dt/dd)
 *
 * Simple definition list for specifications, features, or key-value data.
 *
 * @param {array} items - Array of definition objects (required): [{term:string, definition:string}]
 * @param {string} [variant='default'] - Layout variant: default|inline|grid
 * @param {object} [attributes] - Drupal attribute bag (required for integration)
 #}

{%- set items = items|default([]) -%}
{%- set variant = variant|default('default') -%}
{%- set attributes = attributes ? attributes : create_attribute() -%}

{%- set dl_classes = ['ps-definition-list'] -%}
{%- if variant -%}
  {%- set dl_classes = dl_classes|merge(['ps-definition-list--' ~ variant]) -%}
{%- endif -%}

<dl{{ attributes.addClass(dl_classes)|without('class') }}>
  {% for item in items -%}
    <div class="ps-definition-list__item">
      <dt class="ps-definition-list__term">{{ item.term }}</dt>
      <dd class="ps-definition-list__definition">{{ item.definition|raw }}</dd>
    </div>
  {%- endfor %}
</dl>
