{#
 * Search Bar (Molecule)
 * Search input with icon and optional suggestions dropdown
 * 
 * @param string placeholder - Input placeholder text (default: 'Search...')
 * @param string search_text - Current search value (optional)
 * @param boolean show_icon - Display search icon (default: true)
 * @param boolean has_suggestions - Show suggestions dropdown (default: false)
 * @param array suggestions - Array of suggestion strings (optional)
 * @param object attributes - Drupal attributes object (optional)
 #}

{%- set placeholder = placeholder|default('Search...') -%}
{%- set search_text = search_text|default('') -%}
{%- set show_icon = show_icon|default(true) -%}
{%- set has_suggestions = has_suggestions|default(false) -%}
{%- set suggestions = suggestions|default([]) -%}
{%- set size = size|default('md') -%}
{%- set attributes = attributes|default(create_attribute()) -%}

{%- set classes = [
  'ps-search-bar',
  size != 'md' ? 'ps-search-bar--' ~ size : null
] -%}

<div {{ attributes.addClass(classes) }}>
  <form class="ps-search-bar__form" role="search">
    <div class="ps-search-bar__input-wrapper">
      {% if show_icon %}
        {% include '@elements/icon/icon.twig' with {
          name: 'search',
          attributes: create_attribute().addClass('ps-search-bar__icon')
        } only %}
      {% endif %}
      <input
        type="search"
        class="ps-search-bar__input"
        placeholder="{{ placeholder }}"
        value="{{ search_text }}"
        aria-label="Search"
      />
    </div>
    {% if has_suggestions and search_text %}
      <ul class="ps-search-bar__suggestions" role="listbox">
        {% for suggestion in suggestions %}
          <li class="ps-search-bar__suggestion" role="option">
            <a href="#" class="ps-search-bar__suggestion-link">{{ suggestion }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </form>
</div>
