{#
/**
 * Offer surface table.
 * Variables:
 * - surface.title: Section heading.
 * - surface.icon: Icon for title.
 * - surface.table: Table data (caption, headers, rows).
 */
#}

<section class="offer-surface">
  <div class="offer-surface__header">
    <h3 class="offer-section__title" data-icon="{{ surface.icon|default('area') }}">{{ surface.title|default('Surface table') }}</h3>
  </div>
  
  {% include '@components/table/table.twig' with {
    caption: surface.table.caption|default(null),
    headers: surface.table.headers|default([]),
    rows: surface.table.rows|default([]),
    variant: 'default',
    hover: true,
    striped: false,
    responsive: true,
    attributes: create_attribute().addClass('offer-surface__table')
  } only %}
</section>
