{#
/**
 * @file
 * Offer description section.
 *
 * @section Description
 * @description Main property description with expandable content
 */
#}

{%- set description = description|default({}) -%}
{%- set placeholder = placeholder|default(false) -%}

{%- if placeholder -%}
  <section class="offer-description">
    <h2 class="offer-description__title">Description</h2>
    <div class="offer-description__content">
      <div class="ps-skeleton ps-skeleton--text" style="--skeleton-width: 100%; --skeleton-height: 16px;"></div>
      <div class="ps-skeleton ps-skeleton--text" style="--skeleton-width: 100%; --skeleton-height: 16px;"></div>
      <div class="ps-skeleton ps-skeleton--text" style="--skeleton-width: 100%; --skeleton-height: 16px;"></div>
      <div class="ps-skeleton ps-skeleton--text" style="--skeleton-width: 100%; --skeleton-height: 16px;"></div>
      <div class="ps-skeleton ps-skeleton--text" style="--skeleton-width: 100%; --skeleton-height: 16px;"></div>
    </div>
  </section>
{%- elseif description.value -%}
  <section class="offer-description">
    <h2 class="offer-description__title">{{ description.label|default('Description') }}</h2>
    <div class="offer-description__content">
      {{ description.value|raw }}
    </div>
    {%- if description.expandable -%}
      <button type="button" class="offer-description__more">
        <span class="offer-description__more-label">See more</span>
        <span class="offer-description__more-icon" data-icon="chevron-down" aria-hidden="true"></span>
      </button>
    {%- endif -%}
  </section>
{%- endif -%}
