{#
/**
 * Offer surface table.
 * Variables:
 * - surface.title: Section heading.
 * - surface.icon: Icon for title.
 * - surface.table: Table data (caption, headers, rows).
 */
#}

{%- set classes = [
  'offer-surface',
  surface.modifier_class|default(null)
] -%}
{%- set attr = (attributes is defined ? attributes : create_attribute()).addClass(classes) -%}
{%- set attr = attr.setAttribute('aria-label', surface.title|default('Surface table')) -%}

<section{{ attr }}>
  {% include '@collections/offer/surface/surface.twig' surface only %}
</section>
