{#
/**
 * @file
 * Offer reference number section.
 *
 * @section Reference
 * @description Display property reference identifier
 */
#}

{%- set reference = reference|default({}) -%}
{%- set placeholder = placeholder|default(false) -%}

{%- if placeholder -%}
  <div class="offer-reference">
    <div class="ps-skeleton ps-skeleton--text" style="--skeleton-width: 200px; --skeleton-height: 16px;" aria-busy="true" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
{%- elseif reference.value -%}
  <div class="offer-reference">
    <span class="offer-reference__label">{{ reference.label|default('Reference') }} :</span>
    <span class="offer-reference__value">{{ reference.value }}</span>
  </div>
{%- endif -%}
