{#
/**
 * Offer map section (full width).
 * Composes Map Widget component with map coordinates.
 *
 * Variables:
 * - map.lat: Latitude for map center
 * - map.lng: Longitude for map center
 * - map.zoom: Zoom level (default: 14)
 * - map.markers: Array of markers {label, lat, lng, category}
 * - map.provider: Map provider (default: 'leaflet')
 * - placeholder: Skeleton toggle.
 */
#}

{%- set map = map|default({}) -%}
{%- set placeholder = placeholder|default(false) -%}

{%- set classes = [
  'offer-map__inner',
  placeholder ? 'offer-map__inner--placeholder' : null
] -%}
{%- set attr = (attributes is defined ? attributes : create_attribute()).addClass(classes) -%}

<div{{ attr }} role="region">
  {% if placeholder %}
    <div class="offer-map__skeleton" aria-hidden="true"></div>
  {% else %}
    {% include '@components/map-widget/map-widget.twig' with {
      map: map,
      markers: map.markers|default([]),
      provider: map.provider|default('leaflet'),
      ariaLabel: 'Location map',
      attributes: create_attribute().addClass('offer-map__widget')
    } only %}
  {% endif %}
</div>
