{#
/**
 * Offer meta section (title, building, pricing, key facts).
 * Variables:
 * - meta.building: { label, value }
 * - meta.title: Main heading string.
 * - meta.price: { label, value, unit }
 * - meta.surface_total: { label, value, unit }
 * - meta.availability: { label, value }
 * - meta.mandate_type: { label, value }
 * - placeholder: Skeleton toggle.
 */
#}

{%- set classes = [
  'offer-meta',
  meta.modifier_class|default(null)
] -%}
{%- set attr = (attributes is defined ? attributes : create_attribute()).addClass(classes) -%}

<section{{ attr }} aria-labelledby="offer-meta-heading">
  {% include '@collections/offer/meta/meta.twig' with meta only %}
</section>
