{#
/**
 * @file
 * Footer bottom legal links — inline row ISO Stellar desktop.
 */
#}
{% if items %}
  <ul{{ attributes.addClass(['menu', 'menu--ps-footer-legal', 'ps-site-footer__legal-nav']) }}>
    {% for item in items %}
      <li class="ps-site-footer__legal-item">
        {{ link(item.title, item.url, item.attributes.addClass(['ps-site-footer__legal-link'])) }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
