{#
/**
 * @file
 * Footer Contact Us block - contact information with phones and email
 *
 * Extends the Block layout structure for footer context.
 *
 * Available variables:
 * - plugin_id: Drupal block plugin ID (default: block_footer_contact)
 * - configuration: Block configuration (default provider: contact)
 * - title: Section title (default: "Contact us")
 * - phones: Array of phone entries [{ label, number, href }]
 * - email: Email object { address, href }
 * - attributes: Drupal Attribute object for the block wrapper
 */
#}

{% extends '@layouts/block/block.twig' %}

{%- set plugin_id = plugin_id|default('block_footer_contact') -%}
{%- set configuration = configuration|default({ provider: 'contact' }) -%}
{%- set label = label|default('') -%}

{%- set title = title|default('Contact us') -%}
{%- set phones = phones|default([]) -%}
{%- set email = email|default({}) -%}

{%- set attributes = attributes is defined ? attributes : create_attribute() -%}
{%- set attributes = attributes.addClass(['ps-contact-us']) -%}

{%- set has_phones = phones is defined and phones|length > 0 -%}
{%- set has_email = email.address is defined and email.address -%}

{%- block content -%}
  <div class="ps-contact-us__inner">
    {% if has_phones %}
      <ul class="ps-contact-us__list">
        {% for phone in phones %}
          <li class="ps-contact-us__item">
            {% if phone.label %}
              <span class="ps-contact-us__label">{{ phone.label }}</span>
            {% endif %}
            {% if phone.number %}
              {% include '@elements/link/link.twig' with {
                label: phone.number,
                url: phone.href is defined ? phone.href : 'tel:' ~ phone.number|replace({' ': ''}),
                icon: 'phone',
                iconPosition: 'end',
                variant: 'primary',
                class: 'ps-contact-us__link ps-contact-us__link--phone'
              } only %}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if has_email %}
      {% include '@elements/link/link.twig' with {
        label: email.address,
        url: email.href is defined ? email.href : 'mailto:' ~ email.address,
        icon: 'email-outline',
        iconPosition: 'start',
        variant: 'primary',
        class: 'ps-contact-us__email'
      } only %}
    {% endif %}
  </div>
{%- endblock -%}
