{#
/**
 * @file
 * Row wrapper for similar offers (track item).
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  <div{{ row.attributes.addClass('ps-offer-similar__item') }}>
    {{- row.content -}}
  </div>
{% endfor %}
