{#
 * Icon (Element/Atom)
 * @param string name - Icon name (required, without "icon-" prefix)
 * @param string ariaLabel - Accessibility label for informative icons (optional)
 * @param object attributes - Additional HTML attributes (optional)
 #}

{%- set name = name|default('search') -%}
{%- set iconId = 'icon-' ~ name -%}

{%- set attributes = attributes|default(create_attribute()) -%}
{%- set attributes = attributes.addClass(['ps-icon']) -%}

<span{{ attributes }}{% if ariaLabel %} aria-label="{{ ariaLabel }}" role="img"{% else %} aria-hidden="true"{% endif %}>
  <svg class="ps-icon__svg" focusable="false" aria-hidden="true">
    <use href="/icons/icons-sprite.svg#{{ iconId }}"></use>
  </svg>
</span>
