{# Icon (Atom) using global icon font via data-icon #}
{# Props: name (required), size: xs|sm|md|lg|xl|xxl (default md), color: default|primary|secondary|success|warning|danger|info (default 'default'), disabled (bool), ariaLabel (string) #}
{% set name = name|default('search') %}
{% set size = size|default('md') %}
{% set color = color|default('default') %}
{% set disabled = disabled|default(false) %}
{% set baseClass = baseClass|default(null) %}

{% set classes = baseClass ? [
  baseClass,
  size != 'md' ? baseClass ~ '--' ~ size : null,
  color != 'default' ? baseClass ~ '--' ~ color : null,
  disabled ? baseClass ~ '--disabled' : null
] : [
  'ps-icon',
  size != 'md' ? 'ps-icon--' ~ size : null,
  color != 'default' ? 'ps-icon--' ~ color : null,
  disabled ? 'ps-icon--disabled' : null
] %}

<span class="{{ classes|join(' ')|trim }}"{% if ariaLabel %} aria-label="{{ ariaLabel }}" role="img"{% else %} aria-hidden="true"{% endif %}>
  <span class="ps-icon__icon" data-icon="{{ name }}"></span>
</span>
