{#
 * Icon (Element/Atom)
 * @param string name - Icon name (required, without "icon-" prefix)
 * @param string size - xs|sm|md|lg|xl|xxl (optional, default: md)
 * @param string color - default|primary|secondary|success|warning|danger|info (optional, default: default)
 * @param bool disabled - Disabled state (optional, default: false)
 * @param string ariaLabel - Accessibility label for informative icons (optional)
 * @param object attributes - Additional HTML attributes (optional)
 #}

{%- set name = name|default('search') -%}
{%- set size = size|default('md') -%}
{%- set color = color|default('default') -%}
{%- set disabled = disabled|default(false) -%}
{%- set iconId = 'icon-' ~ name -%}

{%- set classes = [
  'ps-icon',
  size != 'md' ? 'ps-icon--' ~ size : null,
  color != 'default' ? 'ps-icon--' ~ color : null,
  disabled ? 'ps-icon--disabled' : null
] -%}

<span{{ attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ')|trim ~ '"' }}{% if ariaLabel %} aria-label="{{ ariaLabel }}" role="img"{% else %} aria-hidden="true"{% endif %}>
  <svg class="ps-icon__svg" focusable="false" aria-hidden="true">
    <use href="/icons/icons-sprite.svg#{{ iconId }}"></use>
  </svg>
</span>
