{# Icon (Atom) using global icon font via data-icon #}
{# Props: name (required), size: xs|sm|md|lg|xl|xxl (default md), color: default|primary|secondary|success|warning|danger|info (default 'default'), disabled (bool), ariaLabel (string) #}
{% set name = name|default('search') %}
{% set size = size|default('md') %}
{% set color = color|default('default') %}
{% set disabled = disabled|default(false) %}

{% set classes = ['ps-icon'] %}
{% if size != 'md' %}
  {% set classes = classes|merge(['ps-icon--' ~ size]) %}
{% endif %}
{% if color != 'default' %}
  {% set classes = classes|merge(['ps-icon--' ~ color]) %}
{% endif %}
{% if disabled %}
  {% set classes = classes|merge(['ps-icon--disabled']) %}
{% endif %}

<span class="{{ classes|join(' ') }}"{% if ariaLabel %} aria-label="{{ ariaLabel }}" role="img"{% else %} aria-hidden="true"{% endif %}>
  <span class="ps-icon__icon" data-icon="{{ name }}"></span>
</span>
