{#
/**
 * Offer Energy Section (DPE/GES)
 * 
 * @param object energy - Energy data (dpe, ges)
 * @param boolean skeleton - Loading state
 */
#}

{% set energy = energy|default({}) %}
{% set skeleton = skeleton|default(false) %}

{% if energy.dpe or energy.ges %}
  <section class="offer-energy" aria-label="Energy performance">
    {% if skeleton %}
      {% include '@elements/skeleton/skeleton.twig' with {
        variant: 'rectangle',
        width: '100%',
        height: '200px'
      } only %}
    {% else %}
      {% include '@elements/heading/heading.twig' with {
        level: 'h2',
        text: 'Énergie',
        icon: 'energy',
        attributes: create_attribute().addClass('offer-energy__title')
      } only %}
      <div class="offer-energy__placeholder">
        <p>🔌 DPE & GES widgets - Component to be implemented</p>
        <p>Data: DPE {{ energy.dpe|default('N/A') }} | GES {{ energy.ges|default('N/A') }}</p>
      </div>
    {% endif %}
  </section>
{% endif %}
