{#
/**
 * @file
 * Offer Full Layout for offer nodes (Storybook + Drupal 11).
 *
 * Expected variables (prepared in preprocess):
 * - bundle: Node bundle machine name (e.g., 'offer').
 * - view_mode: View mode string (e.g., 'full').
 * - hero, reference, meta, description, features, energy, surface, location, map, sidebar: Section view models.
 * - modifier_class: Optional modifier class string.
 * - attributes: Drupal Attribute object for the root wrapper.
 */
#}

{%- set classes = [
  'node',
  'node--offer',
  'node--view-mode-full',
  'offer-full',
  modifier_class
] -%}

{%- set attr = (attributes is defined ? attributes : create_attribute()).addClass(classes) -%}

<article{{ attr }} data-layout="offer-full">
  <div class="container offer-full__container">
    <div class="offer-layout">
      <div class="offer-layout__main">
        {% include '@layouts/offer-full/template/offer-hero.twig' with { hero: hero } only %}

        {% include '@layouts/offer-full/template/offer-reference.twig' with { reference: reference } only %}

        {% include '@layouts/offer-full/template/offer-meta.twig' with { meta: meta } only %}

        {% include '@layouts/offer-full/template/offer-description.twig' with { description: description } only %}
        {% include '@layouts/offer-full/template/offer-features.twig' with { features: features } only %}

        {% include '@layouts/offer-full/template/offer-energy.twig' with { energy: energy } only %}

        {% include '@layouts/offer-full/template/offer-surface.twig' with { surface: surface } only %}

        {% include '@layouts/offer-full/template/offer-location.twig' with { location: location } only %}
      </div>

      <aside class="offer-layout__sidebar">
        {% include '@layouts/offer-full/template/offer-sidebar.twig' with { sidebar: sidebar } only %}
      </aside>
    </div>
  </div>

  <section class="offer-map">
    {% include '@layouts/offer-full/template/offer-map.twig' with { map: map } only %}
  </section>
</article>
