{#
/**
 * Offer Description Section
 * 
 * @param object description - Description content and configuration
 * @param boolean skeleton - Loading state
 */
#}

{% set description = description|default({}) %}
{% set skeleton = skeleton|default(false) %}

{% if description.content %}
  <section class="offer-description">
    {% if skeleton %}
      {% include '@elements/skeleton/skeleton.twig' with {
        variant: 'text',
        width: '100%',
        height: '150px'
      } only %}
    {% else %}
      {% include '@elements/heading/heading.twig' with {
        level: 'h2',
        text: 'Description',
        attributes: create_attribute().addClass('offer-description__title')
      } only %}
      {% include '@components/read-more/read-more.twig' with description only %}
    {% endif %}
  </section>
{% endif %}
