{#
/**
 * Offer Full Layout (Page Template)
 * Complete property detail page with gallery, specifications, consultant, and location.
 * Drupal-compatible page template for property detail node display.
 *
 * @param boolean skeleton - Loading state with skeleton placeholders (default: false)
 * @param object gallery - Carousel slides with images
 * @param object header - Property header (title, reference, surface, location, price, badges)
 * @param object actions - Action buttons (surface table, brochure, visit)
 * @param object consultant - Agent card data (name, phone, avatar, cta)
 * @param object description - Property description with read-more
 * @param object equipments - Feature section for equipments
 * @param object services - Feature section for services
 * @param object building - Feature section for building condition
 * @param object information - Feature section for additional info
 * @param object energy - Energy performance data (DPE/GES)
 * @param object surfaceTable - Surface table data (lots, floors, areas)
 * @param object location - Address and map data
 * @param object poi - Points of interest filters
 * @param object travelTime - Travel time calculator
 * @param object visitCard - Visit card configuration
 * @param object attributes - Additional HTML attributes (Drupal)
 */
#}

{{ attach_library('ps_theme/tooltip') }}

{%- set skeleton = skeleton|default(false) -%}
{%- set gallery = gallery|default({}) -%}
{%- set header = header|default({}) -%}
{%- set consultant = consultant|default({}) -%}
{%- set visitCard = visitCard|default({}) -%}
{%- set description = description|default({}) -%}
{%- set equipments = equipments|default({}) -%}
{%- set services = services|default({}) -%}
{%- set building = building|default({}) -%}
{%- set information = information|default({}) -%}
{%- set energy = energy|default({}) -%}
{%- set surfaceTable = surfaceTable|default({}) -%}
{%- set location = location|default({}) -%}
{%- set poi = poi|default({}) -%}
{%- set travelTime = travelTime|default({}) -%}

{%- set attr = (attributes is defined ? attributes : create_attribute()).addClass('node--offer') -%}

<article{{ attr }}>

  <div class="container">
    <div class="offer-layout">

      <div class="offer-layout__main">
        {% include '@theme/offer/offer-hero.html.twig' %}
        {% include '@theme/offer/offer-meta.html.twig' %}
        {% include '@theme/offer/offer-description.html.twig' %}
        {% include '@theme/offer/offer-features.html.twig' %}
        {% include '@theme/offer/offer-energy.html.twig' %}
        {% include '@theme/offer/offer-surface-table.html.twig' %}
      </div>

      <aside class="offer-layout__sidebar">
        {% include '@theme/offer/offer-sidebar.html.twig' %}
      </aside>

    </div>
  </div>

  {% include '@theme/offer/offer-map.html.twig' %}

</article>

