{#
/**
 * @file
 * Footer Layout (Template)
 *
 * Includes footer blocks: Contact, Follow Us, Menu Links, Menu (legal)
 *
 * @param {object} [contact] - Contact block data
 * @param {array} [follow_us] - Social links data
 * @param {array} [menu_sections] - Menu sections data
 * @param {array} [menu_legal] - Legal links data
 * @param {string|object} [branding] - Rendered logo markup
 * @param {string} [copyright] - Copyright notice text
 * @param {string} [modifier_class] - Optional modifier class
 * @param {object} [attributes] - Drupal Attribute object for the root element
 */
#}

{%- set contact = contact|default({}) -%}
{%- set follow_us = follow_us|default({}) -%}
{%- set menu_sections = menu_sections|default([]) -%}
{%- set menu_legal = menu_legal|default({}) -%}
{%- set branding = branding|default('') -%}
{%- set copyright = copyright|default('') -%}

{{ attach_library('ps_theme/collapse') }}

{%- set classes = ['ps-footer', modifier_class] -%}
{%- set attr = (attributes ? attributes : create_attribute()).addClass(classes) -%}

<footer{{ attr }} role="contentinfo">
  <div class="ps-footer__main">
    <div class="ps-footer__blocks">
      {# Contact Block #}
      {% if contact %}
        {% include '@collections/blocks/footer/contact-us/contact-us.twig' with contact only %}
      {% endif %}

      {# Follow Us Block #}
      {% if follow_us %}
        {% include '@collections/blocks/footer/follow-us/follow-us.twig' with follow_us only %}
      {% endif %}

      {# Menu Sections (About, Services, etc.) #}
      {% if menu_sections|length > 0 %}
        <div class="ps-footer__menu-sections">
          {% for section in menu_sections %}
            {% include '@collections/blocks/footer/footer-menu-links/footer-menu-links.twig' with section only %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="ps-footer__bottom">
    <div class="ps-footer__branding">
      {% if branding %}{{ branding }}{% endif %}
    </div>

    {# Legal Menu Block #}
    {% if menu_legal %}
      {% include '@collections/blocks/footer/footer-menu/footer-menu.twig' with menu_legal only %}
    {% endif %}

    <div class="ps-footer__copyright">
      {% if copyright %}{{ copyright }}{% endif %}
    </div>
  </div>
</footer>
