.ps-card-agent-visit.card {
  --bs-card-bg: var(--bs-tertiary-bg);
}

.ps-card-agent-visit__title {
  display: flex;
  align-items: center;
  color: #000;
  font-family: 'BNPP Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.ps-card-agent-visit__cta {
  --bs-btn-border-width: 2px;
}

.ps-card-agent-visit__cta-icon {
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

@media (max-width: 991.98px) {
  .ps-card-agent-visit.card {
    --bs-card-bg: transparent;
  }
}
